body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(248, 248, 248);
}

.page header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background-color: tomato;
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.page header .header-logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.page header nav {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;
}

.page header nav .navigation {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.page section {
  display: flex;
  flex-grow: 1;
  padding: 2em 1em 2em 1em;
  min-height: 400px;
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
}

.page section main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.page section main .user-profile {
  width: 400px;
  max-width: 800px;
}

.page footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: tomato;
  color: white;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
}

.form-header {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
}

.form-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 10px 0 0 0;
}

.form-group-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 10px 0 0 0;
}

.form-group-bottom > * {
  margin: 0 0 0 5px;
}

.form-group > .form-input-edit {
  display: flex;
  flex-grow: 2;
}

.form-group-cols > li > input {
  width: 100%;
}

.form-group-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.form-group-cols > li:first-child {
  text-align: left;
  flex: 1 0 0;
}

.form-group-cols > li:last-child {
  flex: 2 0 0;
}

.form-control {
  padding: 8px;
  border: 2px solid rgb(196, 196, 196);
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.form-control-error {
  border-color: red;
}

.form-control-error-text {
  margin-left: 10px;
  text-align: left;
  color: red;
}

.form-control-non-editable {
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  width: 100%;
  box-sizing: border-box;
}

.form-control:focus {
  width: 100%;
  border: 2px solid palegreen;
}

button {
  background-color: tomato;
  border: 0 none;
  border-radius: 10px;
  color: white;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 131, 109);
}

.btn {
  padding: 10px 25px;
}

.btn-small {
  padding: 10px 10px;
}

.btn-small-list {
  padding: 5px 10px;
}

.link {
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  background-color: tomato;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 10px 10px 0 0;
}

.link:hover {
  background-color: rgb(255, 131, 109);
}

.link-active {
  background-color: rgb(255, 131, 109);
  border-bottom: 2px solid white;
}

.msg {
  margin: 15px;
  font-size: large;
}

.activities-area {
  width: 100%;
}

.activity-list-wrapper {
  display: flex;
  flex-direction: column;
}

.activity-list-wrapper > .activity-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
}

.activity-list-wrapper > .activity-list > .activity-list-item, 
.activity-list-wrapper > .activity-list > .activity-list-header {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.activity-list-wrapper > .activity-list > .activity-list-header {
  font-weight: bold;
  background-color: bisque;
}

.activity-list-wrapper > .activity-list > .activity-list-header > .activity-list-header-cols > li:not(:last-child) {
  border-right: 1px solid white;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols,
.activity-list-wrapper > .activity-list > .activity-list-header > .activity-list-header-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 5px;
  width: 100%;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li,
.activity-list-wrapper > .activity-list > .activity-list-header > .activity-list-header-cols > li {
  flex: 1 1 0;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li:nth-child(3),
.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li:nth-child(4) {
  display: flex;
  justify-content: flex-end;
}

.activity-list-wrapper > .activity-list > .activity-list-item:nth-child(2n+1) {
  background-color: rgb(248, 248, 248);
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li > .activity-list-item-col-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li > .activity-list-item-col-right::before {
  content: "";
  visibility: hidden;
  flex: 1 0 0;
  background-color: chartreuse;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li > .activity-list-item-col-right::after {
  content: "";
  visibility: hidden;
  flex: 0 0 25%;
  background-color: chocolate;
}

.add-edit-activity-wrapper {
  width: 50%;
}
