body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(248, 248, 248);
}

.page header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background-color: tomato;
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.header-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  padding-top: 20px;
}

.header-logo > h1 {
  transform: rotate(5deg);
}

.page header nav {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;
  z-index: 1;
}

.page header nav .navigation {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.page > main {
  display: flex;
  flex-grow: 1;
  padding: 2em 1em 2em 1em;
  min-height: 400px;
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
}

.page > main > div.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.page footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: tomato;
  color: white;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
}

.form-header {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.area-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
}

.form-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 10px 0 0 0;
}

.form-group-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 10px 0 0 0;
}

.form-group-bottom > * {
  margin: 0 0 0 5px;
}

.form-group-cols > li > input {
  width: 100%;
}

.form-group-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.form-group-cols > li:first-child {
  text-align: left;
  flex: 1 0 0;
}

.form-group-cols > li:last-child {
  flex: 2 0 0;
}

.form-control {
  padding: 8px;
  border: 2px solid rgb(196, 196, 196);
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.form-control-error {
  border-color: red;
}

.form-control-error-text {
  margin-left: 10px;
  text-align: left;
  font-size: 12px;
  color: red;
}

.form-input-edit {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form-input-edit > label + button {
  margin-left: 10px;
}

.form-control-non-editable {
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  width: 100%;
  box-sizing: border-box;
}

.form-select {
  width: 100%;
}

.form-control:focus {
  width: 100%;
  border: 2px solid palegreen;
}

button {
  background-color: tomato;
  border: 0 none;
  border-radius: 10px;
  color: white;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 131, 109);
}

.btn {
  padding: 10px 25px;
  transition: background-color 1s linear;
}

.btn-disabled {
  padding: 10px 25px;
  background-color: gainsboro;
}

.btn-small {
  padding: 10px 10px;
}

.btn-small-list {
  padding: 5px 10px;
}

.link {
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  background-color: tomato;
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 10px 10px 0 0;
}

.link:hover {
  background-color: rgb(255, 131, 109);
}

.link-active {
  background-color: rgb(255, 131, 109);
  border-bottom: 2px solid white;
}

div.msg {
  margin: 15px;
  font-size: large;
}

.activities-area {
  width: 100%;
}

.activity-list-wrapper {
  display: flex;
  flex-direction: column;
}

.activity-list-wrapper > .activity-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
}

.activity-list-wrapper > .activity-list > .activity-list-item, 
.activity-list-wrapper > .activity-list > .activity-list-header {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.activity-list-wrapper > .activity-list > .activity-list-header {
  font-weight: bold;
  background-color: bisque;
}

.activity-list-wrapper > .activity-list > .activity-list-header > .activity-list-header-cols > li:not(:last-child) {
  border-right: 1px solid white;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols,
.activity-list-wrapper > .activity-list > .activity-list-header > .activity-list-header-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 5px;
  width: 100%;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li,
.activity-list-wrapper > .activity-list > .activity-list-header > .activity-list-header-cols > li {
  flex: 1 1 0;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li:nth-child(3),
.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li:nth-child(4) {
  display: flex;
  justify-content: flex-end;
}

.activity-list-wrapper > .activity-list > .activity-list-item:nth-child(2n+1) {
  background-color: rgb(248, 248, 248);
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li > .activity-list-item-col-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li > .activity-list-item-col-right::before {
  content: "";
  visibility: hidden;
  flex: 1 0 0;
  background-color: chartreuse;
}

.activity-list-wrapper > .activity-list > .activity-list-item > .activity-list-item-cols > li > .activity-list-item-col-right::after {
  content: "";
  visibility: hidden;
  flex: 0 0 25%;
  background-color: chocolate;
}

.user-area {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-profile-wrapper {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .user-profile-wrapper {
    width: 100%;
  }
}

.add-edit-activity-wrapper {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .add-edit-activity-wrapper {
    width: 100%;
  }
}

.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-area-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 700px) {
  .main-area-wrapper {
    width: 95%;
  }
}

.main-area {
  font-size: 18px;
  flex: 1 0 0;
  padding: 3em 1em 1em 1em;
}

.main-area-username {
  animation: usernameSlideIn 1s ease-in 1;
}

@keyframes usernameSlideIn {
  from { 
    transform: translate(0, -100%);
  }
  to { 
    transform: translate(0, 0);
  }
}

.main-area-stats-header {
  margin-top: 1em;
  visibility: hidden;
  animation: statsHeaderSlideIn 3s ease-in 1s 1 forwards; 
}

@keyframes statsHeaderSlideIn {
  from { 
    visibility: visible;
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  to { 
    visibility: hidden;
  }
}

.main-area-stats-content {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 2em;
  perspective: 200px;
}

.main-area-stats-content > li {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.main-area-stats-content > li > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 10px;
}

.stats-time {
  visibility: hidden;
  animation: statSlideIn 2s ease-in 2s 1 forwards; 
}

.stats-distance {
  visibility: hidden;
  animation: statSlideIn 2s ease-in 4s 1 forwards; 
}

@keyframes statSlideIn {
  from { 
    visibility: visible;
    transform: translate(0, 100%) rotateY(0deg);
  }
  to { 
    visibility: visible;
    transform: translate(0, 0) rotateY(-5deg);
  }
}

.header-offline-msg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}

.stats-header {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.stats-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

@media screen and (max-width: 700px) {
  .stats-wrapper {
    width: 100%;
  }
}

.stats-seven-day-distance {
  margin-top: 2em;
}

.stats-seven-day-distance-header {
  font-weight: bold;
}

.stats-seven-day-distance-chart {
  margin-top: 1em;
}
